body {
    font-family: 'Roboto', sans-serif;
}
a img {
    border: none;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding-left: 164px;
    padding-right: 177px;
}
.header-logo-link {
    display: flex;
    align-items: center;
    padding-top: 51px;
    border: none;
    padding-bottom: 22px;
}
.header-logo-img {
    display: block;
    text-align: center;
    background-image: url("../img/logo_white.svg"); 
    background-repeat: round;
    display: block;
    border: none;
    width: 53px;
    height: 67px; 
}
.logo-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #FFFFFF;
    padding-left: 8px;
}
.logo-text-top {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    padding-bottom: 3px;
}
.logo-text-bottom {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.header-logo-link:hover .header-logo-img {
    background-image: url("../img/logo_orang.svg"); 
}
.header-logo-link:hover .logo-text {
    color: #F26522;
}
.header-right-content {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-top: 46px;
}
.header-mail-link {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-bottom: 19px;
}
.header-mail-link:hover {
    color: #F26522;
}
.header-phone-link {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.header-phone-link:hover {
    color: #F26522;
}
.main-card-wrapper {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 37px;
    column-gap: 62px;
    justify-content: space-between;
    padding-left: 164px;
    padding-right: 178px;
}
.main-card-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}
.main-card-link:hover .main-card-title {
    color: #F26522;
}
.main-card-link:hover .plashka-orang-wrapper {
    display:block;
}
.main-card-img {
    width: 100%;
    height: 100%;
}
.main-card-title {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 20px;
}
.plashka-orang-wrapper {
    position:absolute;
    width: 100%;
    height: 55px;
    margin-top: 165px;
    background: #F26522;
    display:none;
}
.plashka-orang-from {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
    padding-bottom: 6px;
}
.plashka-orang-price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-left: 8px;
}
.plashka-orang-details {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.footer-wrapper {
    text-align: center;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 15px;
    
}
.footer-copyright {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}
